/* General Styles */
.navbar {
    width: 100%;
    background: transparent;
    color: #fff;
    padding: 35px 20px;
    position: fixed;
    top: 0;
    z-index: 1000;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  
  .navbar-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 10px;
  }
  
  .navbar-item {
    margin-left: 1.5rem;
  }
  
  .navbar-link {
    color: #e6e6e6;
    text-decoration: none;
    font-size: 15px;
    transition: color 0.3s ease;
    font-family: "Poppins", serif;
  }
  

  /* Hamburger Menu (Mobile) */
  .navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }
  
  /* Mobile Styles */
  @media (max-width: 768px) {
    .navbar-toggle {
      display: flex;
    }
  
    .navbar-menu {
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: -100%;
      width: 100%;
      background-color: #333;
      transition: 0.5s;
    }
  
    .navbar-menu.active {
      left: 0;
    }
  
    .navbar-item {
      margin: 1rem 0;
      text-align: center;
    }
  
    .navbar-link {
      padding: 1rem;
      display: block;
    }
  }