@import "tailwindcss";


@utility container {  margin-inline: auto; }

.container{
  width: 1400px;
}

/* ------------- variable */
@theme{
  /*----------- font */
  --font-main : "Poppins", sans-serif;

}